@charset "utf-8";
@import "classes";

/**
 * @class widget
 */

/**
 * 构造列表的自定义使用方法
 -----------------------





 * @param {default | Length} $radius 定义yo-tip圆角
 * @param {default | Color} $bgcolor 定义yo-tip背景色

 */

@mixin yo-tip(
    $name: default,
    $padding: default,
    $radius: default,
    $bgcolor: default,
    $color: default) {
    // 区别是否新增实例还是修改本身
    @if $name == default {
        $name: "";
    } @else {
        $name: "-#{$name}";
    }
    // 如果值为default，则取config的定义
    @if $padding == default {
        $padding: map-get($tip, padding);
    }
    @if $radius == default {
        $radius: map-get($tip, radius);
    }
    @if $bgcolor == default {
        $bgcolor: map-get($tip, bgcolor);
    }
    @if $color == default {
        $color: map-get($tip,color);
    }
   
        // 增量扩展
        @content;
    }
}



// 调用本文件时载入tip基础构造
.yo-tip {
    @include _tip;
}
